body {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.clock {
    height: 500px;
    width: 500px;
    background-color: brown;
    padding: 10px;
    margin: 20px;
    border-radius: 5%;
}


.produkt{
    background-color: aliceblue;
    border: 20px solid red;
    width: 250px;
    padding: 20px;
    margin: 20px;
    
}

.hlavni{
    display: flex;

}

.clock:hover{
    background-color: blue;
    height: 450px;
    width: 490px;
}

.button{
    color: black;
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
}

.button:hover{
    color: aliceblue;
    background-color: black;
    border-radius: 10%;
}